body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 100%;
}


img {
    max-width: 100%;
}


h2 {
    text-align: center;
    font-size: 3em;

}



article {
    margin: 20px 0;
}



