body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 100%;
    background-color: #D3E4F9;
    line-height: 1.5;
}


img {
    max-width: 100%;
}


h2 {
    text-align: center;

}


aside {
    font-style: italic;
    font-size: 1em;
}


article {
    margin: 20px 0;
}

address a {
    font-weight: bold;
}


a, a:link:visited{
    font-size: 1.5em;
    color:black;
    font-style: normal;
    text-decoration: none;
}
