
main {
    margin: 0 auto;
    width: 60%;
}

.topheader h1 {
    max-width: 50%;
}

.clearfix::after { /*What does clearfix do*/
    content: '';
    display: table;
    clear: both;
}

@media only screen and (min-width: 340px) {
    .topheader h1 {
        float: none;
        position: relative;
        left: 2em;
        top: 1em;

    }

    section {
        width: auto;
    }



}

@media only screen and (min-width: 600px) {

    .navbar li {

        float: right;
    }

    .topheader h1 {
        float: none;
        position: relative;
        top: 2em;
    }

    section {
        width: auto;
    }

}
