
main {
    margin: 0 auto;

}

.column_two {
   margin-left:1%;
    margin-top: 1%;

}

.column_one {
    margin-right:3%;
    margin-top: 3%;

}

.wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left:10%;
}

.topheader h1 {
    max-width: 50%;
}

.clearfix::after { /*What does clearfix do*/
    content: '';
    display: table;
    clear: both;
}



