.template {
    display: none;
}

/*How do I adapt background image to media queries? */
.topheader {

    background: url(../img/background.jpg) 0 50%;
    background-size: cover;
    width: 100%;
    height: 550px;
    color: white;
    position: relative;

}

.topheader h1 {
    float: left;
    padding: 3em 1em 0 0;
}

.header_row h2 {
    margin-top: 5%;
    margin-bottom: 0;
}

.navbar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: black;

}

.navbar ul {
    display: none;
    list-style: none;

}

.navbar:hover ul {
    display: flex;

}


a.read-on {
    font-size: 0.75em;
}

@media only screen and (min-width: 340px) {
    .column_two {
        width: 80%;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        text-align: center;

    }

    .topheader h1 {
        float: none;
        position: relative;
        left: 2em;
        top: 1em;

    }

    h2 {
        font-size: 1.5em;
    }

    a.projectlink {
        font-size: 1.5em;
    }

    section {
        width: auto;
    }

    .icon-menu {
        float: right;
        color: white;
        padding: 0.5em 0.5em 0.5em;

    }

    .navbar ul {
        flex-direction: column;


    }

    main {
        max-width: 80%;
    }

}

@media only screen and (min-width: 707px) {
    .wrap {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        text-align: center;

    }

    .column_two {
        width: 60%;
    }

    .topheader h1 {
        float: none;
        position: relative;
        top: 2em;
    }

    h2 {
        font-size: 2em;
    }

    .icon-menu {
        display: none;

    }

    .navbar ul {
        display: flex;
        justify-content: center;
        flex-direction: row;

    }

    .navbar li {

        margin-left: 1em;
        font-weight: bold;
        float: right;
    }

    main {
        max-width: 65%;
    }

}

@media only screen and (min-width: 1024px) {
    .column_two {
        width: 50%;
    }

    h2 {
        font-size: 2em;
    }

    .icon-menu {
        display: none;

    }

    .navbar ul {
        display: flex;
        align-content: center;
        flex-wrap: nowrap;

    }

    .navbar li {
        font-weight: bold;
    }

    main {
        max-width: 55%;
    }

}