$black-color: black;
$white-color: #FFF;
$background-color: rgba(255,255,255, 0.7);



.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.flexbox {
  display: flex;
}

.main-section {
  flex-direction: column;
  width: 60%;
  margin: 20px auto 20px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  background: $background-color;
  padding: 30px;
  border-radius: 20px;


  .sub-section {
    flex-wrap: wrap;
    width: 90%;
  }

  .project_template {
    margin-bottom: 5%;
  }
}
