$black-color: black;
$white-color: #FFF;


.header {
  position: relative;
  h1 {
    text-align: center;
    position: absolute;
    bottom: 25%;
    left: 10%;
  }

  nav {
    position: absolute;
    bottom: 0;
    background: $black-color;
    width: 100%;

    button.icon-menu {
      display: none;
    }

    .menu {
      justify-content: center;

      li.tab {
        list-style: none;
        color: $white-color;
        margin-right: 2.5%;
      }
      a {
        color: $white-color;
        text-decoration: none;
        font-size: 1.2em;
      }
    }
  }

}

.main-section {
  .column_one {
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  .column_two {
    a:visited {
      color:$black-color;
    }
    article {
      span {
        font-weight: bold;
      }
    }
  }
  a:visited, a:link {
    font-weight: bold;
    color: $black-color;
    text-decoration: none;
  }
  .sub-section {
    .project_template {
      aside {
        font-style: italic;
      }
    }

  }
}


@media all and (max-width: 768px) {
  .header {
    nav {
      button.icon-menu{
        display: block;
        cursor: pointer;
        display:block;
        float: right;
        padding: 2% 2%;
        background: transparent;
        border: 0;
        transition: all 400ms ease;
      }
      .transformed {
        transform: rotate(90deg);
      }

      .menu {
        flex-direction: column;
        display: none;
        li.tab {
          margin-top: 1%;
          text-align: center;

        }
      }

    }

  }
}
