$black-color: black;
$white-color: #FFF;


.header {
  position: relative;
  h1 {
    text-align: center;
    position: absolute;
    bottom: 25%;
    left: 10%;
  }

  .mobile {
    display: none;
    background: $white-color;
    position: absolute;
    width: 100%;
    top: 0;
    div {
      display: none;
    }
    button {
      position: absolute;
      top: 15px;
      right: 15px;
      border: 0;
      border-radius: 3px;
      outline: none;
      transition: all 400ms ease;
      &.expanded {
        transform: rotate(90deg);
        background-color: $black-color;
        border: 0;
      }
    }
  }

  .desktop {
    position: absolute;
    top: 0;
    background: $white-color;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    overflow: hidden;
    justify-content: center;
  }

  li  {
    list-style: none;
    color: $black-color;
    margin-right: 2.5%;
    padding: 10px 10px;
    a {
      color: $black-color;
      text-decoration: none;
      font-size: 1.2em;
      &:hover, &:active, &:focus {
        background: darken(#eee, 3%);
        padding: 10px 10px;
      }
    }
  }

}

.main-section {
  .column_one {
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  }
  .column_two {
    a:visited {
      color:$black-color;
    }
    article {
      span {
        font-weight: bold;
      }
    }
  }
  a:visited, a:link {
    font-weight: bold;
    color: $black-color;
    text-decoration: none;
  }
  .sub-section {
    .project_template {
      aside {
        font-style: italic;
      }
    }
  }
}


@media all and (max-width: 768px) {
  .header {
    .mobile {
      display: block;
      li {
        text-align: center;
        border-bottom: 1px solid #eee;
      }
    }
    .desktop {
      display: none;
    }
  }
}
